@import url('https://fonts.googleapis.com/css?family=Itim');

html {
  background-color: #F8F8F8;
} 
main{
  background-color: #F8F8F8;
}
body {
  background-color: #F8F8F8;
} 
#root{
  background-color: #F8F8F8;
}

.icon_nav{
  color: white;
}
.bt_back{
  background-color: black;
}
.svg_icons {
  transform: scale(2);
}
.textDec{
  text-decoration: none;
  color: white;
}
.textDec:hover {
  color: rgb(226, 226, 226);
}
